// Montserrat
@font-face {
	font-family: 'Montserrat';
	src:	url('/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
			url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
}

// Open Sans
@font-face {
	font-family: 'Open Sans', sans-serif;
	src:	url('/assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'),
			url('/assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype'),
			url('/assets/fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype'),
			url('/assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
