@import 'colors';

p,
a,
i,
h1,
h2,
h3,
h4,
h5,
h6,
span,
strong {
	color: $black;
}

h1,
h2,
h3 {
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 600;
}

h4,
h5,
h6 {
	text-align: center;
	font-family: 'Montserrat';
}

p,
a,
i,
strong {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
}

div {
	font-family: 'Open Sans', sans-serif;
}

pre {
	font-size: 1.4em;
}
