// Imports
@import 'fonts';
@import 'typography';
@import 'colors';

html,
body {
	background-color: $accColor;
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#root {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 65%;
	margin: 0 auto;
}

hr		{ border: $grey solid 0.5px; }
hr.light{ border: $lightGrey solid 0.5px; }

.container {
	background-color: $white;
	border-radius: 5px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 5vh;
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
	p { margin: 0; }

	&.content {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
	}
}

.fab-container {
	z-index: 9999;
	position: absolute;
	bottom: 15vh;
	right: 10vw;
}

.fab {
	position: fixed;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	translateX: 10vw;

	&.fab-text {
		z-index: 100;
		background-color: transparent;
		text-align: center;
		line-height: 70px;
		font-size: 2em;
		font-family: 'Open Sans', sans-serif;
		color: #EFEFEF;
		cursor: pointer;
		user-select: none;
	}

	&.fab-border {
		z-index: 99;
		background-color: $blackish;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	}
}

#vuln-menu {
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 5vh;
	background-color: $white;
	position: fixed;
	width: 24vw;
	height: 100vh;
	top: 0;
	left: 100vw;
	z-index: 90;

	& > div {
		cursor: pointer;
	}
}

input {
	background-color: $white;
	border: $lightGrey solid 1px;
	border-radius: 2px;

	&[type=number] {
		-moz-appearance: textfield;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			appearance: none;
		}
	}
}

.vuln {
	border: $grey solid 1px;
	border-radius: 5px;
	margin: 1em;
	padding: 1.25em;
}

.points-select {
	font-family: inherit;
	font-size: inherit;
	color: $comment;
	cursor: pointer;
}

.points-select[checked=false]::before { content: '//  '; }
.points-select[checked=true]::before,
.points-select[checked=true] { color: $black; }
.points-select[checked=true]::before {
	color: $black;
	content: '    ';
}

[data-placeholder]:empty::before {
	content: attr(data-placeholder);
	cursor: text;
}

.text-pulse {
	animation-name: textPulse 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s infinite alternate backwards;
	&:not(:empty) { animation-name: none; }

	&:empty::before { animation: textPulse 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s infinite alternate backwards; }

	&:empty:focus::before {
		@extend ::selection;
		animation: none;
	}
}

::selection {
	background-color: $accColor;
	color: $white;
}

.editable {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	outline: none;
}

pre {
	white-space: pre-wrap;
	tab-size: 4;
	display: inline;
}

.comment {
	color: $comment;
	&:focus {
		background-color: $accColor;
		color: $white;
	}
}

.half-col-split {
	display: flex;
	justify-content: space-around;
	padding: 1em;
}

#projects-root > a {
	text-align: center;
	display: block;
}

#start-project {
	background-color: #F44336;
	user-select: none;
	h1 { color: $blackish; }

	&:hover {
		background-color: #E53935;
	}
	&:active {
		background-color: #D32F2F;
	}
}

@keyframes textPulse {
	from	{ color: $blackish; }
	to		{ color: $accColorDark; }
}
