{{define "dashboard"}}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="assets/css/main.css">

		<title>CSC - Dashboard</title>
	</head>

	<body>
		<div id="root">
			<div class="container" id="heading">
				<h1>Dashboard</h1>
			</div>

			<div class="container content">
				<h2>Projects</h2>
				<hr>
				<div id="projects-root"></div>
			</div>
		</div>
	</body>

	<!-- Scripts -->
	<script src="https://browser.sentry-cdn.com/5.0.5/bundle.min.js" crossorigin="anonymous"></script>
	<script src="/assets/js/cash.min.js"></script>
	<script src="/assets/js/min/apiHandler.js"></script>
	<script src="/assets/js/min/dashboard.js"></script>
</html>

{{end}}
