<div class="vuln" data-type="cmpHash" data-id="{[?data-id>]}">
	<h3 class="text-pulse">Compare Hashes</h3>
	<hr>
	<pre>

<!--	--><span class="comment">// </span><!--
		--><span class="editable comment" name="title" contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-form="true" data-placeholder="title"></span>
<!--	-->if ( hash( <!--
		--><span class="text-pulse editable" name="filePath" contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-form="true" data-placeholder="filePath"></span> )<!--
		--> == <!--
	  	--><span class="text-pulse editable" name="fileHash" contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-form="true" data-placeholder="fileHash"></span> ) {
<!--  	--><span class="points-select" checked="false" onclick="pointsSelector(event, this)">gainPoints( <span class="editable" name="pointsGain" contenteditable="true" data-form="true" data-placeholder="#"></span> );</span>
<!--  	--><span class="points-select" checked="false" onclick="pointsSelector(event, this)">losePoints( <span class="editable" name="pointsLose" contenteditable="true" data-form="true" data-placeholder="#"></span> );</span>
<!--	-->}
	</pre>
</div>
