{{define "new"}}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="assets/css/main.css">

		<title>CSC - New Project</title>
	</head>

	<body>
		<div id="root">
			<div class="container" id="heading">
				<h1>New Project</h1>
			</div>
			<div id="card-root">

				<!-- Section One (Basic Details) -->

				<div id="form-1" class="container content">
					<h2>Basic Details</h2>
					<hr>
					<form class="form-new-project">
						<div class="form" id="form-details">
							<div>
								<p>Project Name:</p>
								<input name="projectName" type="text" data-form="true"></input>
							</div>
							<br>
							<div>
								<p>Maximum Time (HH:MM):</p>
								<input name="maxTime" data-time="hhmm" type="text" data-maxlength="5" data-form="true"></input>
							</div>
							<div>
								<p>Refresh Interval (MM:SS):</p>
								<input name="refreshInt" data-time="mmss" type="text" data-maxlength="5" data-form="true"></input>
							</div>
						</div>
					</form>
				</div>

				<!-- End -->
				<!-- Section Two (Vulnerabilities) -->

				<div id="form-2">
					<div class="container content">
						<h2>Vulnerabilities</h2>
						<form class="form-new-project">
							<div class="form" id="form-vulns">
							</div>
						</form>
					</div>

				<div id="vuln-menu">
					<div>
						<div id="btn-vuln" data-vuln="CMP_HASH">Compare Hashes</div>
					</div>
					<hr class="light">
					<div>
						<div id="btn-vuln" data-vuln="CHECK_CMD">Check Command Output</div>
					</div>
					<hr class="light">
				</div>

				<div class="fab-container" onclick="toggleVulnMenu()">
					<div class="fab fab-text">+</div>
					<div class="fab fab-border"></div>
				</div>

				<!-- End -->

			</div>
			<div id="btn-root">
				<button id="btn-prev">Previous</button>
				<button id="btn-next">Next</button>
				<button id="btn-fin">Finish</button>
			</div>
		</div>
	</body>

	<!-- Scripts -->
	<script src="https://browser.sentry-cdn.com/5.0.5/bundle.min.js" crossorigin="anonymous"></script>
	<script src="/assets/js/cash.min.js"></script>
	<script src="/assets/js/anime.min.js"></script>
	<script src="/assets/js/min/apiHandler.js"></script>
	<script src="/assets/js/min/new.js"></script>
</html>

{{end}}
