{{define "project"}}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/assets/css/main.css">
		<meta id="projectID" data-id="{{ .projectHex }}">

		<title>CSC - Dashboard</title>
	</head>

	<body>
		<div id="root">
			<div class="container" id="heading">
				<h1>{{ .projectName }}</h1>
			</div>

			<div class="container content">
				<h3>Basic Details</h3>
				<hr>

				<div class="half-col-split">
					<div>
						<p>Maximum Points:</p>
						<p>Maximum Time:</p>
						<p>Refresh Interval:</p>
					</div>

					<div>
						<p>WIP</p>
						<p>{{ .maxTime }} (HH:MM:SS)</p>
						<p>{{ .refreshInt }} (HH:MM:SS)</p>
					</div>
				</div>
			</div>

			<div class="container content">
				<h3>Statistics</h3>
				<hr>

				<div class="half-col-split">
					<div>
						<p>Score:</p>
						<p>Time Remaining:</p>
						<p>Vulnerabilities Fixed:</p>
					</div>

					<div>
						<p data-id="pointsCurrent">0</p>
						<p data-id="timeRemaining">{{ .maxTime }} (HH:MM:SS)</p>
						<p data-id="vulnsFixed">0</p>
					</div>
				</div>
			</div>

			<div class="container content">
				<h3>Vulnerability List</h3>
				<hr>

				<div id="vulnList"></div>
			</div>

			<div class="container content" id="start-project" data-confirm="0">
				<h1>Start?</h1>
			</div>
		</div>
	</body>

	<!-- Scripts -->
	<script src="https://browser.sentry-cdn.com/5.0.5/bundle.min.js" crossorigin="anonymous"></script>
	<script src="/assets/js/cash.min.js"></script>
	<script src="/assets/js/min/apiHandler.js"></script>
	<script src="/assets/js/min/project.js"></script>
</html>

{{end}}
