{{define "start"}}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="assets/css/main.css">
	</head>

	<body>
		<h1>CyberScoreClient</h1>
		<button id="new-project">New Project</button>
		<button id="import-config">Import Project</button>
	</body>

	<!-- Scripts -->
	<script src="https://browser.sentry-cdn.com/5.0.5/bundle.min.js" crossorigin="anonymous"></script>
	<script src="/assets/js/min/apiHandler.js"></script>
	<script src="assets/js/min/start.js"></script>
</html>

{{end}}
